html
  body
    h1 Agencias
    img#agencias-preview(src='', width='320')
    br
    span#agencias-message
    if token === ''
      a(href=`https://id.heroku.com/oauth/authorize?client_id=${clientId}&response_type=code&scope=${scope}&state=${state}`) Login con heroku
    ul
      for link in agencias
        li
          span= link
          button.agencias-show(data-src=link) Ver
          if token !== ''
            button.agencias-delete(data-src=link, data-token=token) Borrar
          if /^http\:\/\/giphy\.com\/gifs\//.test(link)
            button.agencias-fix(data-src=link) Corregir

    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='/js/agencias.js')
